@model PlurasightLogin.Controllers.PasswordResetModel
<h1>Password Reset</h1>
<hr />
@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post))
{
    @Html.HiddenFor(x => x.userid)
    @Html.HiddenFor(x => x.token)
    <p>New Password : @Html.PasswordFor(model => model.password)</p>
    <input value="Submit" type="submit" class="btn" />
}
