<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="http://ktx.hust.edu.vn/xmlrpc.php">
    
    <title>Trung tâm Quản lý Ký túc xá &#8211; Trường Đại học Bách Khoa Hà Nội</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin Trung tâm Quản lý Ký túc xá &raquo;" href="http://ktx.hust.edu.vn/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi Trung tâm Quản lý Ký túc xá &raquo;" href="http://ktx.hust.edu.vn/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/ktx.hust.edu.vn\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.2.6" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55357, 56424, 55356, 57342, 8205, 55358, 56605, 8205, 55357, 56424, 55356, 57340], [55357, 56424, 55356, 57342, 8203, 55358, 56605, 8203, 55357, 56424, 55356, 57340]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='wp-block-library-css' href='~/Content/StyleSheet2.css' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css' href='~/Content/StyleSheet3.css' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='~/Content/StyleSheet4.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css' href='~/Content/StyleSheet5.css' type='text/css' media='all' />
    <link rel='stylesheet' id='nivo-lightbox-css' href='~/Content/StyleSheet6.css' type='text/css' media='all' />
    <link rel='stylesheet' id='total-style-css' href='~/Content/StyleSheet7.css' type='text/css' media='all' />
    
    <link rel="stylesheet" id="total-style-inline-css" href="~/Content/StyleSheet1.css" />
    <link rel='stylesheet' id='total-fonts-css' href='~/Content/StyleSheet8.css' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-icons-css' href='~/Content/StyleSheet9.css' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-animations-css' href='~/Content/StyleSheet10.css' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css' href='~/Content/StyleSheet11.css' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-global-css' href='~/Content/StyleSheet12.css' type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-1-css' href='~/Content/StyleSheet13.css' type='text/css' media='all' />
    <script type='text/javascript' src='~/Content/JavaScript.js'></script>
    <script type='text/javascript' src='~/Content/JavaScript1.js'></script>
    <script type='text/javascript' src='~/Content/JavaScript2.js'></script>
    <script type='text/javascript' src='~/Content/JavaScript3.js'></script>
    <link rel='https://api.w.org/' href='http://ktx.hust.edu.vn/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://ktx.hust.edu.vn/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://ktx.hust.edu.vn/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.2.6" />
    <link rel="canonical" href="http://ktx.hust.edu.vn/" />
    <link rel='shortlink' href='http://ktx.hust.edu.vn/' />
    <link rel="alternate" type="application/json+oembed" href="http://ktx.hust.edu.vn/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fktx.hust.edu.vn%2F" />
    <link rel="alternate" type="text/xml+oembed" href="http://ktx.hust.edu.vn/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fktx.hust.edu.vn%2F&#038;format=xml" />
    <!-- Fonts Plugin CSS - https://fontsplugin.com/ -->
    <link rel="stylesheet" href="~/Content/StyleSheet14.css"/>
</head>
<body class="home page-template page-template-templates page-template-home-template page-template-templateshome-template-php page page-id-7 wp-custom-logo group-blog ht_right_sidebar ht-sticky-header columns-3 elementor-default elementor-page elementor-page-7">
    <div id="ht-page">
        <div class="ht-container ht-clearfix">
            <div id="ht-site-branding">
                <a href="" class="custom-logo-link" rel="home"><img width="777" height="160" src="https://www.utc.edu.vn/themes/UTC_V2/images/main-logo.png" class="custom-logo" alt="" srcset="https://www.utc.edu.vn/themes/UTC_V2/images/main-logo.png 777w, https://www.utc.edu.vn/themes/UTC_V2/images/main-logo.png 300w, https://www.utc.edu.vn/themes/UTC_V2/images/main-logo.png 768w" sizes="(max-width: 777px) 100vw, 777px" /></a>
            </div><!-- .site-branding -->

            <nav id="ht-site-navigation" class="ht-main-navigation">
                <div class="toggle-bar"><span></span></div>
                <div class="ht-menu ht-clearfix">
                    <ul id="menu-one-page-menu" class="ht-clearfix">
                        <li id="menu-item-270" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-270"><a href="#">Trang chủ</a></li>
                        <li id="menu-item-271" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-271"><a href="#ht-about-us-section">Giới thiệu</a></li>
                        <li id="menu-item-277" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-277"><a href="/#ht-blog-section" aria-current="page">Thông báo</a></li>
                        <li id="menu-item-416" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-416"><a  rel="noopener noreferrer" href="/Account/LoginAsync">Đăng nhập</a></li>
                    </ul>
                </div>
            </nav><!-- #ht-site-navigation -->
        </div>
        <div id="ht-content" class="ht-site-content ht-clearfix">
            <div id="ht-home-slider-section">
                <div id="ht-bx-slider" class="owl-carousel">
                    <div class="ht-slide">
                        <div class="ht-slide-overlay"></div>

                        <img alt="KÝ TÚC XÁ ĐHBKHN" src="~/Content/img/h1.png">
                        <div class="ht-slide-caption">
                            <div class="ht-slide-cap-title">
                                <span>KÝ TÚC XÁ ĐHBKHN</span>
                            </div>

                            <div class="ht-slide-cap-desc">
                                <p>Không gian sống xanh</p>
                            </div>
                        </div>
                    </div>
                    <div class="ht-slide">
                        <div class="ht-slide-overlay"></div>

                        <img alt="KÝ TÚC XÁ ĐHBKHN" src="~/Content/img/h2.jpg">
                        <div class="ht-slide-caption">
                            <div class="ht-slide-cap-title">
                                <span>KÝ TÚC XÁ ĐHBKHN</span>
                            </div>

                            <div class="ht-slide-cap-desc">
                                <p>Nơi tình yêu bắt đầu</p>
                            </div>
                        </div>
                    </div>
                    <div class="ht-slide">
                        <div class="ht-slide-overlay"></div>

                        <img alt="KÝ TÚC XÁ ĐHBKHN" src="~/Content/img/h3.jpg">
                        <div class="ht-slide-caption">
                            <div class="ht-slide-cap-title">
                                <span>KÝ TÚC XÁ ĐHBKHN</span>
                            </div>

                            <div class="ht-slide-cap-desc">
                                <p>An ninh &#8211; vệ sinh tốt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="ht-blog-section" class="ht-section">
                <div class="ht-container">
                    <div class="ht-section-title-tagline">
                        <h2 class="ht-section-title">Thông báo</h2>

                    </div>

                    <div class="ht-blog-wrap ht-clearfix">
                        <div class="ht-blog-post ht-clearfix">

                            <div class="ht-blog-thumbnail">
                                <a href=""><img src="~/Content/img/h1.png" alt="Thông báo lịch xếp ở KTX kỳ 20192"></a>
                            </div>
                            <div class="ht-blog-excerpt">
                                <h5><a href="">Thông báo lịch xếp ở KTX kỳ 20192</a></h5>
                                <div class="ht-blog-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Tháng Hai 21, 2020</div>
                                [Thông báo]
                                &#x26a1;&#xfe0f;&#x26a1;&#xfe0f; 1. Thông báo về lịch xếp ở nội trú KTX kỳ 20192:
                                Căn cứ vào diễn biến dịch viêm đường hô hấp cấp do virus Covid-19 và thông báo lùi lịch học củ
                            </div>

                            <div class="ht-blog-read-more">
                                <a href="">Read More</a>
                            </div>
                        </div>
                        <div class="ht-blog-post ht-clearfix">
                            <div class="ht-blog-excerpt">
                                <h5><a href="">Thông báo thời gian thu lệ phí và mức thu lệ phí xếp cho sinh viên</a></h5>
                                <div class="ht-blog-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Tháng Mười Hai 26, 2019</div>
                                &nbsp;
                                THÔNG BÁO


                                Căn cứ vào quyết định số 1787/QĐ- ĐHBK- TT QL KTX về mức thu lệ phí ở của sinh viên nội trú KTX năm học 2019-2020
                                Căn cứ vào kế hoạch xếp ở của sinh viên nội trú
                            </div>

                            <div class="ht-blog-read-more">
                                <a href="">Read More</a>
                            </div>
                        </div>
                        <div class="ht-blog-post ht-clearfix">
                            <div class="ht-blog-excerpt">
                                <h5><a href="">KHẢO SÁT LẤY Ý KIẾN CỦA SINH VIÊN NỘI TRÚ KTX KỲ I &#8211; NĂM HỌC 2019-2020</a></h5>
                                <div class="ht-blog-date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Tháng Mười Hai 12, 2019</div>

                                [KHẢO SÁT LẤY Ý KIẾN CỦA SINH VIÊN NỘI TRÚ KTX KỲ I - NĂM HỌC 2019-2020]





                                Nhằm nâng cao chất lượng của KTX thông qua việc tiếp thu các ý kiến phản hồi của các bạn sinh vi
                            </div>

                            <div class="ht-blog-read-more">
                                <a href="">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ht-service-post-section" class="ht-section">
                <div class="ht-service-left-bg"></div>
                <div class="ht-container">
                    <div class="ht-service-posts ht-clearfix">
                        <div class="ht-section-title-tagline">
                            <h2 class="ht-section-title">Tiện ích hỗ trợ</h2>

                        </div>

                        <div class="ht-service-post-wrap">
                            <div class="ht-service-post ht-clearfix">
                                <div class="ht-service-icon"><i class="fa fa-resistance"></i></div>
                                <div class="ht-service-excerpt">
                                    <h5>HT1 &#8211; Hệ thống quản lý CSAM</h5>
                                    <div class="ht-service-text">
                                        CSAM là Hệ thống quản lý do TT Quản lý KTX phát triển với mục tiêu số hóa thông tin sinh viên lưu tr									 <br />
                                        <a href="">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ht-service-post ht-clearfix">
                                <div class="ht-service-icon"><i class="fa fa-tablet"></i></div>
                                <div class="ht-service-excerpt">
                                    <h5>HT2 &#8211; Tiếp nhận phản ánh, xử lý sự cố</h5>
                                    <div class="ht-service-text">
                                        Khi gặp các vấn đề liên quan đến An ninh trật tự – Vệ sinh môi trường – Điện nước hư hỏng, bạn hãy g									 <br />
                                        <a href="">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ht-service-post ht-clearfix">
                                <div class="ht-service-icon"><i class="fa fa-th"></i></div>
                                <div class="ht-service-excerpt">
                                    <h5>HT3 &#8211; Tiệm giặt là</h5>
                                    <div class="ht-service-text">
                                        Địa điểm: Nhà hồng xanh, cạnh Hội trường B6 - Ký túc xá

                                        Giờ mở cửa: 09:00 - 13:00, 14:00 - 21:00 hà									 <br />
                                        <a href="">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ht-service-post ht-clearfix">
                                <div class="ht-service-icon"><i class="fa fa-user"></i></div>
                                <div class="ht-service-excerpt">
                                    <h5>HT4 &#8211; Không gian học tập chung</h5>
                                    <div class="ht-service-text">
                                        Địa điểm: Tầng 5 - Nhà B10

                                        Giờ mở cửa: 09:00 - 22:00 hàng ngày									 <br />
                                        <a href="">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ht-service-post ht-clearfix">
                                <div class="ht-service-icon"><i class="fa fa-heart"></i></div>
                                <div class="ht-service-excerpt">
                                    <h5>HT5 &#8211; Nhà văn hóa B6</h5>
                                    <div class="ht-service-text">
                                        Địa chỉ: Hội trường B6

                                        Đăng ký sinh hoạt: VP Trung tâm QL KTX									 <br />
                                        <a href="">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ht-service-post ht-clearfix">
                                <div class="ht-service-icon"><i class="fa fa-rocket"></i></div>
                                <div class="ht-service-excerpt">
                                    <h5>HT6 &#8211;</h5>
                                    <div class="ht-service-text">
                                        Liên hệ: VP Trung tâm QL Ký túc xá									 <br />
                                        <a href="">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ht-about-us-section" class="ht-section">
                <div class="ht-container ht-clearfix">
                    <div class="ht-about-sec">
                        <h2 class="ht-section-title">TT Quản lý KTX</h2>
                        <div class="ht-content">
                            <p>
                                Tổ chức, quản lý toàn diện khu KTX sinh viên. Bố trí xếp ở sinh viên nội trú đúng đối tượng, số lượng, đảm bảo thu lệ phí lưu trú của sinh viên nộp về trường đúng qui định; Đảm bảo đủ các điều kiện phục vụ sinh hoạt và học tập của sinh viên nội trú:<br />
                                Điện, nước sinh hoạt, dịch vụ ăn uống.<br />
                                An ninh trật tự, vệ sinh môi trường<br />
                                Hoạt động thể thao và văn hoá tinh thần trong khu KTX.
                            </p>
                        </div>

                        <div class="ht-progress-bar-sec">
                        </div>
                    </div>



                </div>
            </section>


        </div><!-- #content -->

        <footer id="ht-colophon" class="ht-site-footer">
            <div id="ht-top-footer">
                <div class="ht-container">
                    <div class="ht-top-footer ht-clearfix">
                        @*<div class="ht-footer ht-footer1">
                                <aside id="text-3" class="widget widget_text">
                                    <h4 class="widget-title">VP Trung tâm</h4>			<div class="textwidget">
                                        <div class="smallrow">
                                            <div class="anhnho">Văn phòng: <span class="redtext">B9 &#8211; 101, 102</span></div>
                                        </div>
                                        <div class="smallrow">
                                            <div class="anhnho">Điện thoại: <span class="redtext">024 38692942</span></div>
                                        </div>
                                        <div class="smallrow">
                                            <div class="anhnho">Email: <a href="mailto:ktx@hust.edu.vn"><span class="redtext">ktx@hust.edu.vn</span></a></div>
                                        </div>
                                    </div>
                                </aside>
                            </div>*@

                        <div class="ht-footer ht-footer2">

                        </div>

                        <div class="ht-footer ht-footer3">

                        </div>

                        <div class="ht-footer ht-footer4">

                        </div>
                    </div>
                </div>
            </div>

            <div id="ht-bottom-footer">
                <div class="ht-container">
                    <div class="ht-site-info" style="color:black;">
                        UTC_STUDENT &copy CopyRight
                    </div><!-- #site-info -->
                </div>
            </div>
        </footer><!-- #colophon -->
    </div><!-- #page -->

    <div id="ht-back-top" class="ht-hide"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
    <script src="~/Content/JavaScript4.js"></script>
    <script src="~/Content/JavaScript5.js"></script>
    <script src="~/Content/JavaScript6.js"></script>
    <script src="~/Content/JavaScript7.js"></script>
    <script src="~/Content/JavaScript8.js"></script>
    <script src="~/Content/JavaScript9.js"></script>
    <script src="~/Content/JavaScript10.js"></script>
    <script src="~/Content/JavaScript11.js"></script>
    <script src="~/Content/JavaScript12.js"></script>
    <script src="~/Content/JavaScript13.js"></script>
</body>
</html>
