
@{
    ViewBag.Title = "PhongTuHoc";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


    <h3 style="margin:20px 0px;">
        <i class="entypo-right-circled"></i>
        Phòng Tự Học Chung
    </h3>
    <div>
        <p style="color: blue">Tên Thành Viên :  @ViewBag.Username</p>
        <p style="color: blue">Hạng thành viên: THÂN THIẾT</p>
        <br>
        <p style="color: blue; text-align: center">Không gian học tập chung KTX-GTVT</p>
        <p> Kể từ tháng 5/2018, Trung tâm Quản lí KTX mở Không gian học tập chung CSAM Co-studying tại Phòng tự học tầng 5 KTX B10 với Không gian học tập sáng tạo, yên tĩnh, tiện nghi (Cây lọc nước nóng lạnh, Điều hòa, Tivi, Máy in, nhà vệ sinh sạch sẽ,…) nhằm đem đến môi trường học lí tưởng cho Sinh viên; Môi trường sinh hoạt CLB; Học nhóm; Hội thảo; Giảng dạy… </p>
        <p> Là một không gian làm việc, học tập hiện đại, tiện nghi ngay trong trường ĐH Bách khoa Hà Nội để tạo ra những đột phá, có thêm động lực và cảm hứng trong làm việc mà vẫn không cảm thấy chật vật với chi phí thuê văn phòng. </p>
        <p>Thời gian mở cửa: 7:30 – 22:00 </p>
        <p>Địa điểm: Phòng tự học Tầng 5 – KTX B10</p>
        <p>CSAM cung cấp không gian làm việc hiện đại, đầy đủ tiện nghi, chuyên nghiệp, truyền cảm hứng sáng tạo với mức giá hỗ trợ tối đa.</p>
        <p>Mọi chi tiết liên hệ NhungHN : 0971808878&#8236;</p>

    </div>
